.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #3D6AC8;
    height: 80px;
    width: 100%;

    font-size: 20px;
    font-weight: bold;
    color: #fff;

    .logo{
        margin-left: 50px;
        cursor: pointer;
    }
    .logo:hover{
        color: black;
    }
    .user{
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        font-size: 18px;


        .username{
            margin-right: 15px;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .username:hover{
            color: black;
        }


        .user-image{
            height: 45px;
            width: 45px;
            border: 2px solid #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
        .user-image:hover{
            border: 2px solid black;
            color: chocolate;

        }

        mat-menu{
            width: 400px;
            height: 200px;
        }


    }

}

.user-menu-btn{
    display: flex;
    fa-icon{
        font-size: 20px;
        margin-right: 10px;
    }
    
}