.side-nav{
    background-color: #7290DD;
      
        display: flex;
        width: 266px;
        height: 90vh;
    .nav-items{
        padding-top: 40px;
        font-size: 18px;
        color: white;
        font-weight: 500;

        .nav-item{
            padding: 15px 35px;
            margin-bottom: 15px;
            cursor: pointer;

            fa-icon{
                font-size: 30px;
                margin-right: 25px;
            }
            
        }

        .nav-item:hover{
            color: blanchedalmond;
        }

        .active{
            background-color: black;
            color: #fff;
        }

    }
}


