.main-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container{
            width: 500px;
            height: fit-content;
            border-radius: 10px;
            background-color: #CACFCE;
            box-shadow: 5px 5px 5px #939393;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            margin-top: 40px;

            .form-header{
                width: 500px;
                margin: 20px 0px 30px 0px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                fa-icon{
                    font-size: 50px;
                    margin-bottom: 5px;
                }

                h3{
                    font-size: 25px;
                    text-align: center;
                }    
            }

            .form-body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input{
                    width: 350px;
                    height: 40px;
                    padding-left: 15px;
                    /* text-align: center; */

                    border-radius: 10px;
                    border: none;

                    font-size: 18px;

                    margin-bottom: 20px;
                }
            
                .form-footer{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 20px;

                    button{
                        width: 80px;
                        height: 35px;
                        margin-right: 10px;
                        padding: 2px;
                        font-size: 16px;
                        border: none;
                        border-radius: 10px;


                        background-color: #7A9CD1;
                    }

                    button:hover{
                        background-color:#7C8DA7 ;
                        cursor: pointer;
                       
                    }
                }
               

            }
        }

    }
 
