<div class="widgets-container">
    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="value">
            <div class="top"> {{stdCount}}</div>
            <div class="bottom">Students</div>
        </div>
    </div>

    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="value">
            <div class="top"> --</div>
            <div class="bottom">Users</div>
        </div>
    </div>

    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="value">
            <div class="top"> --</div>
            <div class="bottom">Others</div>
        </div>
    </div>
</div>
